{{#if @toc}}
  <div class="on-this-page-wrapper">
    On this page
    <hr>
    <ul>
      {{#each @toc as |toc|}}
        <li>
          <a href="#{{toc.id}}">{{toc.text}}</a>
        </li>
      {{/each}}
    </ul>
    {{yield}}
  </div>
{{/if}}