.header {
    background: rgb(42,47,51);
    background: linear-gradient(90deg, rgba(42,47,51,1) 0%, rgba(47,60,71,1) 64%, rgba(54,59,64,1) 100%);
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a.logo {
        display: flex;
        margin: .3em 0;
        text-decoration: none;
        font-size: 40px;
        font-family: 'Fredericka the Great', cursive;
        color: white;

        img {
          height: 50px;
        }
      }
    }
}
