.header {
    background: #e04e39;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      a.logo {
        display: flex;
        margin: .3em 0;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Fredericka the Great', cursive;
        color: white;

        img {
          height: 50px;
        }
      }
    }
}
