main {
  display: grid;
  grid-template-columns: 22em 1fr;
}

article {
  padding: 3em 0 3em 2em;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: 30em) and (max-width: 85em) {
  main {
    grid-template-columns: 18em 1fr;
  }
}

.guides-article-wrapper {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 18em;
}

.guides-article-content {
  max-width: 100%;
}

.on-this-page-wrapper {
  margin-top: .6em;
}

@media (max-width: 95em) {
  .guides-article-wrapper {
    display: flex;
  }

  .on-this-page-wrapper {
    display: none;
  }
}

@media (max-width: 54em) {
  main {
    display: flex;
    flex-direction: column;
  }

  article {
    padding: 3em 0;
  }
}

@media screen and (min-width: 54em) {
  .sidebar {
    border-bottom: 0;
    border-right: 1px solid #F8E7CF;
    padding: 3em 1.618em 3em 0;
  }

  .sidebar:last-child {
    margin-right: 0;
  }

  label[for="toc-toggle"] {
    display: none;
  }

  .toc-container {
    display: block;
  }

  .toc-container[style] {
    display: block !important;
  }
}

.container {
  // max-width: 80em;
  // margin-left: auto;
  // margin-right: auto;
  padding: 0 2em;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
