// Variables from ember-styleguide https://github.com/ember-learn/ember-styleguide/blob/83c60ee940f907bbbf35d582cffffc7c7d949a12/addon/styles/global.css
$radius-lg: 0.625rem;

$color-gray-100: #f4f6f8;

$color-yellow: #FFEC64;
$color-yellow-light: #FFFAD6;

$font-size-lg: 1.1875rem; /* h2 = 19px */

$line-height-lg: calc(24 / 19); /* 24px */

$font-weight-3: 600;

$spacing-1: 0.5625rem; /* 9px */
$spacing-2: 1.125rem; /* 18px */
$spacing-4: 2.25rem; /* 36px */

// Variables from guidemaker-default-template fork
//breakpoints (1 of 3)
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
//colors (2 of 3)
$primary: #E34C32;
$primary-light: lighten($primary, 30%);
$primary-dark: #EF4326;
$secondary: #4A4A4A;
$secondary-light: #969696;
$secondary-dark: #303030;
$blue: #1e719b;
$black: #212121; //never pure black
$white: #fdfdfd; //never pure white
$success: green; //come back to these state colors and put proper colors in here
$info: cornflowerblue;
$warning: goldenrod;
$danger: red;
$orange: #e04e39;
$orange-darker: darken($orange, 10);
$orange-darkest: darken($orange, 20);
$orange-lighter: lighten($orange, 10);
$orange-lightest: lighten($orange, 40);
$gray: #4d4d4d;
$gray-lighter: #999999;
$gray-lightest: #eeeeee;
$gray-darker: darken($gray, 10%);
$gray-darkest: darken($gray, 15%);
//font things (3 of 3)
$font-size: 16px;
$line-height: 1.2;
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows & Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

  //standardizing some stuff
  $border-radius: 4px;
  