<footer id="ember105" class="es-footer ember-view" role="contentinfo">
  <div class="footer responsive">
    <div class="container space-between">
      <div id="ember106" class="footer-info flex-1">
        {{if this.guidemaker.copyright this.guidemaker.copyright this.guidemaker.title}} &copy; {{this.currentYear}}
      </div>
      <div class="footer-info flex-1 text-align-right">
        <p>This footer is a component defined in the dummy app. The dummy app is a demo of how to integrate your own footer when using guidemaker-ember-template.</p>
      </div>
      <div id="ember118" class="footer-info flex-1 text-align-right">
        Built with <a href="https://github.com/empress/guidemaker" target="_blank" rel="noopener noreferrer">Guidemaker</a>
      </div>
    </div>
  </div>
</footer>