<footer class="es-footer ember-view" role="contentinfo">
  <div class="footer responsive">
    <div class="container space-between">
      <div id="ember106" class="footer-info flex-1">
        {{if this.guidemaker.copyright this.guidemaker.copyright this.guidemaker.title}} &copy; {{this.currentYear}}
      </div>
      <div class="footer-statement flex-1">
        <p>This footer is a &lt;GuidemakerFooter /&gt; component defined in the dummy app. You can either do the same and create a &lt;GuidemakerFooter /&gt; component in your application to write your own footer, or you can customize guidemaker environment config to use the default footer with your custom parameters.</p>
      </div>
      <div class="footer-info flex-1 text-align-right">
        Built with <a href="https://github.com/empress/guidemaker" target="_blank" rel="noopener noreferrer">Guidemaker</a>
      </div>
    </div>
  </div>
</footer>
