{{! template-lint-disable no-redundant-landmark-role link-rel-noopener require-valid-alt-text no-curly-component-invocation }}
<HeadLayout />

<GuidemakerHeader />

<main class="container">
  {{outlet}}
</main>

<GuidemakerFooter />